<h1><%= @gallery.to_s %></h1>

<%= render @gallery %>

<div class="page-actions well">
  <div class="btn-group" role="group">
    <%= link_to Ecm::Pictures::Gallery.model_name.human(:count => :other), ecm_pictures_galleries_path, :class => 'btn btn-primary' %>
    <%= link_to t('ecm.pictures.views.actions.back'), :back, class: 'btn btn-default' %>
  </div>
</div>
