<div class="picture-gallery-description">
  <%= mu picture_gallery, :description %>
</div>

<div class="picture-gallery-pictures row" data-target="#modal-gallery" data-toggle="modal-gallery">
  <%= render picture_gallery.pictures %>
</div>