<div class="col-xs-6 col-md-3">
  <%= link_to("#{picture.image.url}#{File.extname(picture.image_file_name).downcase}", :'data-gallery' => "gallery", :class => 'thumbnail') do %>
    <%= image_tag(picture.image.url(:default_thumb)) %>
  <% end %>
</div>