<h1><%= @picture.to_s %></h1>

<div class="row">
  <%= render @picture %>
</div>

<div class="actions well">
  <div class="page-actions">
    <div class="btn-group" role="group">
      <%= link_to(@picture.picture_gallery, @picture.picture_gallery, :class => 'btn btn-primary') if @picture.picture_gallery.present? %>
      <%= link_to t('back'), :back, class: 'btn btn-default' %>
    </div>
  </div>
</div>
